body {
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format("truetype");
    font-weight: 700;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list__header {
    color: #252525;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 155px 0 80px 0;
}

.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    vertical-align: top;
}

.movie-list__hat {
    color: #fff;
    background: #a3cc40;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.movie-list__table_width {
    width: 25%;
}

.movie-list__table_widht2 {
    text-align: left;
}

.movie-list__line1 {
    color: #fff;
    background: #373737;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.movie-list__line2 {
    color: #fff;
    background: #4b4d4f;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.movie-list__line3 {
    color: #fff;
    background: #6c6c6c;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.movie-list__line4 {
    color: #fff;
    background: #4b4d4f;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.movie-list__table_one{
   padding-top: 25px;
   padding-bottom: 24px; 
   padding-right: 39px;
}

.movie-list__table_two{
    text-align: left;
    padding-left: 41px;
    padding-top: 7px;
}

.movie-list__table_three{
    width: 13%;
    padding-top: 14px;
}

.movie-list__vektorup:after{
    content: '\25B2';
    font-size: 23px;
    color: #fff;
}

.movie-list__vektordown:after{
    content: '\25BC';
    font-size: 23px;
    color: #fff;
}

.movie-list__vektorup, .movie-list__vektordown{
    background-color: transparent;
    border: none;
}

.movie-list__table a{
    text-decoration: none;
    color: white;
}